/*@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap");

html {
    font-family: "Source Sans Pro", sans-serif;
}

body {
    background-color: #fafafa;
}

html,
body {
    margin: 0;
    font-size: 16px;
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: auto;
}

.hidden {
    display: none;
}

/*
App
*/
#header {
    background-color: white;
    box-shadow: 0px 4px 4px rgba(228, 228, 228, 0.25);
    margin: 0;

    border-top-style: solid;
    border-top-color: #66cca2;
    border-top-width: 0.3rem;

    color: #66cca2;
    font-weight: 700;
    font-size: 2.5rem;
}

#website-title {
    padding: 0.5rem 1rem;
    width: auto;
    display: inline-block;
}

#nav-link-wrapper {
    float: right;
    height: 100%;
}

#nav-link-wrapper > a {
    color: #66cca2;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    height: 100%;
    padding: 0.7rem;
    display: inline-block;
    margin-right: 1.5rem;
}

.nav-link-active {
    /*border-bottom-style: solid;
    border-bottom-color: #66cca2;
    border-bottom-width: 0.3rem;*/
}

/* nav link animation*/
#nav-link-wrapper > a:after {
    display: block;
    content: "";
    border-bottom-style: solid;
    border-bottom-color: #66cca2;
    border-bottom-width: 0.3rem;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin: 0% 50%;
}

#nav-link-wrapper > a:hover:after {
    transform: scaleX(1);
    transform-origin: 0% 50%;
}

#dashboard-link {
    background-color: #66cca2;
}

#dashboard-link {
    /*margin-right: 3rem;*/
    color: white !important;
    padding-bottom: 0.3rem !important;
}

/*
Food
*/

#list-wrapper {
    width: 50%;
    height: auto;
    background-color: white;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 30rem;
    box-shadow: 0px 4px 6px rgba(228, 228, 228, 0.51);
}

.food-item-wrapper {
    width: auto;
    border-left-width: 0.3rem;
    border-left-style: solid;
    border-left-color: lightgray;
    padding: 1rem;
}

.check-icon-circle,
.x-bg {
    width: 2.5em;
    height: 2.5em;
    background-color: white;
    border-radius: 3em;
    border-width: 0.3em;
    border-color: #7ccfac;
    border-style: solid;
    text-align: center;

    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 1em;
}

.check-icon-circle svg {
    display: inline-block;
    color: #7ccfac;
    top: 0;
    bottom: 0;
    margin: auto;
}

.check-icon {
}

.check-icon path {
}

.exp-date-text {
    font-size: 1.1rem;
    color: #8c8c8c;
}

.food-name-text {
    font-size: 1.5rem;
}

/*
Adding Section
*/

#add-food-wrapper {
    transition: max-height 0.5s ease-out;
    overflow: hidden;
}

.add-food-wrapper {
    padding: 1rem;
    padding-left: 1.3rem;
    /*background-color: pink;*/
    max-height: 1.5rem;
    transition: max-height 0.5s ease-out;
}

.add-food-wrapper-open {
    /*background-color: white;*/
    max-height: 500px;
    height: auto;
    transition: max-height 0.5s ease-out;
}

/*inherits from .check-icon-circle*/
.x-bg {
    border-color: #7ccfac00;
    background-color: #00000000;
    height: 10rem;
    display: block;
}

.x-bg svg {
    display: inline-block;
    color: #7ccfac;
    /*width:;*/
    top: 0;
    margin: auto;
}

.add-food-wrapper-no-x {
    /*width: auto;*/
    /*float: left;*/
    /*display: inline-block;*/
    /*float: left;*/
    /*width: auto;*/
}

.add-food-wrapper-no-x > input {
    border: 0;
    color: #9c9c9c;
    font-size: 1.5rem;
}

.add-food-wrapper-no-x > input:placeholder {
    color: #9c9c9c;
}

.add-food-wrapper-no-x > input:focus {
}

.expires-in-text {
    color: #545454;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.expire-boxes-wrapper {
}

.exp-time-box {
    width: 24%;
    display: inline-block;
    padding: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;

    font-size: 1em;
    text-align: center;

    box-sizing: border-box;
    border-radius: 0.2em;

    cursor: pointer;
}

.exp-time-unselected {
    color: #6f6f6f;

    border: 0.15em solid #6f6f6f;
}

.exp-time-selected {
    color: #7ccfac;
    background: rgba(124, 207, 172, 0.22);

    border: 0.15em solid #7ccfac;
}
